# for ide's
.DS_Store
Thumbs.db
.idea/
.vscode/

# frontend
node_modules/
.next/
out/
build/
coverage/
.env*
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts

# backend
**/bin/
**/obj/
*.user
*.suo
*.log
appsettings.development.json

# ml
*.pth
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/
.venv311/

/scripts
