fastapi
pydantic_settings
uvicorn[standard]

numpy
opencv-python
pillow

httpx

torch
torchvision

## Install dectecteron2 after install requirements, since dectereon2 requires torch: 
# pip install  --no-build-isolation 'git+https://github.com/facebookresearch/detectron2.git'